body{
  background: #001328;
  font-family: helvetica, arial. sans-serif;
  font-size: 16px;
  color: #58AAA9;
}

#headshot img {
  width: 25%;
  height: 100px;
}

p {
  font-size: 1px;
  line-height: 1.5px;
  margin-bottom: 20px;
  color: #709CD1;
}

#container {
  width: 90%;
  max-width: 800px;
  background: #1C2541;
  margin: 30px 30px 30px 30px;
  margin: 30px auto;
  padding: 30px;
}
