body{
  background: #08415C;
  font-family: helvetica, arial. sans-serif;
  font-size: 26px;
  color: #EBEBEB;
}

#headshot img {
  width:25% ;
}

#contactDets {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #CCCCCC;
}

p {
  font-size: .85em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #CCCCCC;
}

#container {
  width: 90%;
  max-width: 1200px;
  background: #881B24;
  margin: 30px auto;
  padding: 30px;
}

#titlecontainer {
  width: 100%;
  max-width: 1200px;
  background: #881B24;
  border-top: 1px solid #06A77D;
  padding: 1px 0 0 0;
}

#name {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
}


section {
  border-top: 1px solid #5BC0BE;
  padding: 20px 50px;
